<p class="lead mt-5">
    If you have bug reports, questions or suggestions please open an issue on <i class="fa fa-github" aria-hidden="true"></i> <a class="link" href="https://github.com/marc-schieferdecker/youtube-mass-edit/issues">github</a>.
</p>
<h4 class="mt-5">Contact / imprint</h4>
<p>
    Marc Schieferdecker<br/>
    Steinstraße 54<br/>
    <br/>
    41372 Niederkrüchten
</p>
<p>
    <i class="fa fa-envelope" aria-hidden="true"></i> <a class="link" href="mailto:ms@letsshootshow.de?subject=ytmassedit">ms @ letsshootshow.de</a>
</p>