<p class="lead mt-5">
    Welcome!<br/>If you want to bulk edit your videos descriptions...<br/>this is the tool you need!
</p>
<h4 class="mt-5">How to use this editor</h4>
<p>
    <ul class="list-group">
        <li class="list-group-item">
            Step 1) Authenticate via "Auth" page with your YouTube channel
        </li>
        <li class="list-group-item">
            Step 2) Fetch all videos from your channel
        </li>
        <li class="list-group-item">
            Step 3) Change your videos descriptions manually or search and replace
        </li>
        <li class="list-group-item">
            Step 4) Submit your changes to YouTube
        </li>
    </ul>
</p>