<p class="lead mt-5">
    Holding onto your private information is a serious responsibility, and we want you to know how this application is handling it.
</p>
<h4 class="mt-5">Privacy Statement</h4>
<p>
    We only collect the information you choose to give us, and we process it with your consent, or on another legal basis;
    we only require the minimum amount of personal information that is necessary to fulfill the purpose of your interaction with us;
    we don't sell it to third parties; and we only use it as this Privacy Statement describes.
</p>
<p>
    No matter where you are, where you live, or what your citizenship is, we provide the same standard of privacy protection to all our users around the world, regardless of their country of origin or location.
</p>
<h4 class="mt-5">What data is stored?</h4>
<p>
    <ul class="list-group">
        <li class="list-group-item">
            Your YouTube authentication token by a session cookie stored on your local computer valid for 7 days.
        </li>
        <li class="list-group-item">
            Your YouTube video and channel data in the servers memory for a maximum of 24 hours.
        </li>
        <li class="list-group-item">
            A cookie on your local computer that you clicked the cookie notice away ... yeah ... that's what the internet was invented for.
        </li>
    </ul>
</p>