{{#if result.error}}
    {{#ifCond result.error '===' 'nodata'}}
        <div class="alert alert-danger mt-5">No data submitted.</div>
    {{/ifCond}}
    {{#ifCond result.error '===' 'auth'}}
        <div class="alert alert-danger mt-5">Authentication problem. Please reauthenticate</div>
    {{/ifCond}}
{{else}}
    <div class="alert alert-success">Your updates are right now being submitted to YouTube in the background. Return to the video page and check the update log for details.</div>
{{/if}}